body {
	margin: 0;
  background: #3b3b3b;
  color: #ffffff;
	font: 13px Arial, Helvetica, sans-serif;
	display: grid;
}

main {
  height: 90vh;
  width: 90vw;
	display: grid;
	align-items: center;
	justify-self: center;
}

main .title {
	background: #00aae6;
	padding: 15px;
	border-radius: 10px;
}

.control {
  display: grid;
  grid-template-columns: 1fr 4fr 0px;
  align-content: center;
  justify-content: center;
}

.control label {
	font-size: 16px;
  align-self: center;
}

.btnCopy {
  padding: 5px;
  margin-top: 5px;
  margin-left: -35px
}
.btnCopy:hover {
  background-color: #00aae6;
}

input[type='text'],
input[type='password'],
select {
  padding: 15px;
  border: 1px solid #003300;
  /* border-radius: 5px; */
}

select {
  margin-right: 10px;
}

button {
  padding: 15px;
}
